<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnimaLog - Register</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/animal_logo_1_transparant.png') }}">
    <link href='https://fonts.googleapis.com/css?family=Mogra' rel='stylesheet'>
</head>
<body>
    <form method="POST">
        <div class="container register-form">
                <div class="form">
                    <div class="note">
                        <p>Register for AnimaLog!</p>
                    </div>
    
                    <div class="form-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="username" type="text" class="form-control" placeholder="Your Name *" value=""/>
                                </div>
                                <div class="form-group">
                                    <input name="email" type="email" class="form-control" placeholder="Email *" value=""/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="password" type="password" class="form-control" placeholder="Your Password *" value=""/>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btnSubmit">Submit</button>
                    </div>
                </div>
            </div>
    </form>
</body>
</html>